@charset 'utf-8';
/* 기본, 모바일 우선 */


/* 1. mo */
@media screen and (max-width: 767px) {}

/* 2. tb~ */
@media screen and (min-width: 768px) {
  #estee-main {
    padding-top: 78px; /* 태블릿 헤더 높이 */
  }
  .hero-container {
    padding-top: 75% /* 4:3 */
  }
  .hero_video {
    object-position: center center;
  }
 }

/* 3. only tb */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  
}

/* 4. laptop 1280~ */
@media screen and (min-width: 1280px) {
  #estee-main {
    padding-top: 145px; /* PC 헤더 높이 */
  }
  .hero-container {
    padding-top: 0;
    height: calc(100vh - 100px);
  }
  .hero_video {
    position: static;
  }
}

/* 5. laptop 1921~ */
@media screen and (min-width: 1921px) {}
